/JavaImperativProzedural.class
/JavaObjektOrientiert$1.class
/JavaObjektOrientiert.class
/Kreis.class
/Quadrat.class
/TraceV7$CurrentClassGetter.class
/TraceV7.class
/View.class
/Form$JavaObjektOrientiert.class
/Form$Kreis.class
/Form$Quadrat.class
/Form.class
